#cajapadre{
    display:flex;
}
#cajapadre > div{
    height: 145px;
    margin: 5px;
    background-color: #cccccc;
}
#caja-1{
    flex: 1 1 200px;
}
#caja-2{
    flex: 1 1 200px;
}
#caja-3{
    flex: 1 1 200px;
}
#caja-4{
    flex: 1 1 200px;
}